@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* GLOBAL */
body {
    background-color: #f4f5f6;
    /* background-color: steelblue; */
}

a, button {
    cursor: pointer !important;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1310px;
}

/* STYLES */



/* Header */
.btn-subscribe::after {
    margin-left: 5px;
    width: 8px;
    height: 8px;
    border-top-width: 2px;
    border-right-width: 2px;
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    border-top-style: solid;
    border-right-style: solid;
    font-size: 3rem;
}

.main-nav {
    padding-right: 160px;
}

.main-nav ul li {
   flex-grow: 1;
   z-index: 2;
}

.main-nav ul li a{
    font-family: 'Roboto Condensed', sans-serif;
 }

.main-nav ul .nav-link {
    padding: 0;
    transition: none;
    text-align: center;
}

.main-nav ul li a:hover, .trending-nav ul li a:hover {
    color: #f72210 !important;
}

.main-nav form {
    width: 100%;
}

.main-nav form input, .main-nav form > div {
    z-index: 5;
}

.main-nav form input {
    width: 60px;
    outline: none;
    border: none;
    transition: all .3s ease;
    color: gray;
}

.main-nav form input:focus {
    width: calc(100% - 102px);
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-label {
    background-color: black;
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
    width: 20px;
    height: 20px;
    clip: auto;
    font-size: 0;
}

.main-nav::before {
    width: 70px !important;
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 22px;
	background-color: #f72210;
	border-left: 12px solid white;
	border-top: 13px solid #f72210;
}

.trending-nav ul li a {
    color: #838287 !important;
    padding: 0 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Mobile Header */
.login-icon {
    font-size: 1.5rem;
}

.btn-subscribe {
    font-size: .8rem;
}

.btn-subscribe.btn-subscribe2::after {
    width: 6px;
    height: 6px;
}

.burger-icon {
    font-size: 1.5rem;
}

@media (min-width: 767px) {
    .burger-icon {
        font-size: 2rem;
    }
}

/* Content */
.content-container {
    padding-left: 30px;
    padding-right: 30px;
}

.featured, .top, .opinions {
    min-height: 400px;
}

.featured {
    background: lightcoral;
}

.top {
    background: lightgreen;
}

.opinions {
    background: lightseagreen;
}

.featured > h6{
    color: #9a9a9a;
}

.featured {
    font-family: 'Roboto Condensed', sans-serif;
}

.card .card-text {
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;

}

.featured .card .featured-heading {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.featured .card .featured-heading:hover{
    text-decoration: underline;
    text-decoration-color: red;
}

.img-category {
    font-size: 1rem;
    color: #f72210;
    background-color: #f4f5f6;
    opacity: .9;
}


    

/* Footer */

